*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: lightgrey;
    position: relative;
    
}


#nav{
    height: 120px;
    padding: 20px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family:  sans-serif;
    font-family: gilroy;
}

#nav img{
    height: 30px;
    margin-right: 120px;
    margin-left: 40px;

}

#nav-prt1{
    display: flex;
    justify-content: center;

}

#nav-prt1 h4{
    margin-right: 50px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

#nav-prt2 i{
    margin-right: 40px;
    font-size: 20px;
    font-weight: 24px;
}
#content {
    width: 100%;
    height: calc(100% - 110px);
    position: relative;
    display: flex;
}
#left {
    height: 100%;
    width: 35%;
    padding: 20px 60px;
    justify-content: center;
    margin-left: 30px;
    margin-top: 70px;
    position: relative;
}
#left h1{
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
}
#left p{
    font-size: 15px;
    margin-bottom: 50px;
    justify-content: center;
}
#left h5{
    color: rgb(93, 91, 91);
    margin-bottom: 20px;
}
#left button{
    padding: 20px 40px;
    margin-bottom: 10px;
    background-color: black;
    color: rgb(246, 249, 249);
    border-radius: 0px 70px 70px;
    text-align: center;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
}
#right {
    height: 100%;
    width: 70%;
    margin-left: 20px;
    position: relative;
    padding: 50px;
    white-space: nowrap;
    overflow-x: auto;
}
#right::-webkit-scrollbar{
    display: none;
}
.elem{
    height: 480px;
    width: 300px;
    background: #fff;
    position: relative;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
    display: inline-block;
    margin-right: 30px;
}
.elem img{
    height: 60%;
    width: 100%;
    padding: 0px 10px 0px 10px;
    position: absolute;
    object-fit: cover;
    top: 10%;
}
.elem h4{
    position: absolute;
    bottom: 0;
    right: 0;
    background: lightgray;
    padding: 15px 30px;
    border-radius: 10px;
    border-top-right-radius: 0;
}
.elem h5{
    position: absolute;
    bottom: 9%;
    right: 0;
    background: black;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    border-bottom-right-radius: 0;
}
